#amountButtonMinus, #amountInput{
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

#amountButtonPlus, #amountInput{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    text-align: center;
}

#stepGroup{
    margin-top: 2%;
}

.trashIcon{
    float: right;
}

.datePicker{
    z-index: 5;   
}

#deliveryInfoForm label{
    width: 12%;
    
}

#deliveryInfoForm input{
    width: 51%;
    height: 50%;
    padding: 0.5%;
}

#deliveryInfoForm select{
    width: 20%;
    height: 50%;
    padding: 0.5%;
    margin-right:5%;
}

#editIcon{
    margin-left: 1%;
}

#cityLabel{
    width: 6% !important;
}