#amountButtonMinus, #amountInput{
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

#amountButtonPlus, #amountInput{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

#stepGroup{
    margin-top: 2%;
}

.trashIcon{
    float: right;
}