/* .mainInput input{
    max-width: 100%;
} */
#amountButtonMinus, #amountInput{
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

#amountButtonMinus, #amountButtonPlus {
    background-color: #393d40!important;
    color: #ffe693!important;
}

.price-area-container {
    display: flex!important;
    justify-items: center;
}
 
#amountButtonPlus, #amountInput{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    text-align: center;
}

#amountInput{
    padding: 0%;
}

#stepGroup .link.step.active, #stepGroup .link.step.active::after {
    background-color: #393d40;
}
#stepGroup .link.step.active * {
    color: #ffe693;
}

#stepGroup .link.step * {
    color: #393d40;
}

#stepGroup .link.step.disabled * {
    color: #8e8e8e;
}

.trashIcon{
    float: right;
}

#confirmButton, #continueButton{
    margin-top: 2%;
}
.datePicker{
    z-index: 5;   
}

#deliveryInfoForm label{
    width: 12%;
    
}

#deliveryInfoForm input{
    width: 51%;
    height: 50%;
    padding: 0.5%;
}

#deliveryInfoForm select{
    width: 20%;
    height: 50%;
    padding: 0.5%;
    margin-right:5%;
}

#addressForm {
    margin-bottom: 15px;
    margin-top: 15px;
}

#editIcon{
    margin-left: 1%;
}

#deliveryInfoForm #cityLabel{
    width: 6%;
}

#approval .approvalText{
    text-align: center;
    margin-top: 5%;
}

#order-table-father {
    margin-top: 15px;
}

#order-table th{
    color: #ffe693;
    background-color: #393d40;
}

.cart-total {
    font-weight: bold;
}

.remove-button {
    background-color: #F87060!important;
}

.ui.positive.button, .ui.positive.buttons .button {
    background-color: #ffce2b!important;
    color: #393d40!important;
}

.ui.positive.button:hover, .ui.positive.buttons .button:hover {
    background-color: #ffebba!important;
    color: #393d40!important;
}

.paymentInputContainer {
    text-align: center;
}