.drawer {
    background: #383838 !important;
}
.mainContainer {
    padding: 0 !important;
}

.drawer .item.menu-item:hover{
    background-color: #8e8e8e;
    cursor: pointer;
}

.menuSidebar {
    min-height: 90vh;
}