#allPageContent{
    margin: 0;
    min-height: 100vh;
}

#allPageContent #mainContent{
    padding: 1%;
    background-color: #f1f1f1;
}

#allPageContent .sidebar{
    padding:0;
}

#allPageContent .item.menu-item {
    color: #f1f1f1;
}

#allPageContent .item.menu-item:hover{
    background-color: #8e8e8e;
    cursor: pointer;
}

#allPageContent #drawerRow{
    padding:0;
}

#sidebarItems{
    border-radius: 0px;
    background-color: #393d40;
}

#sidebarItems > *{
    border-radius: 0px;
}