#sideAndContent{
    margin: 0;
    min-height: 85vh;
}

#sideAndContent #contentColumn{
    padding: 1%;
}

#sideAndContent #sidebarColumn{
    padding:0;
}

#sideAndContent .item.menu-item:hover{
    background-color: #8e8e8e;
    cursor: pointer;
}

#sideAndContent #drawerRow{
    padding:0;
}

#sidebarItems{
    border-radius: 0px;
}

#sidebarItems > *{
    border-radius: 0px;
}