#filter-father .filter{
    padding-top: 0!important;
    padding-bottom: 2px!important;
    padding-right: 1px!important;
    padding-left: 1px!important;
}

#filter-father {
    margin-left: 0!important;
    margin-right: 0!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    padding-bottom: 10px!important;
}

.filter-accordion {
    border: 1px solid grey;
    border-top: none;
    border-radius: 5px;
}

.filter-dropdown .ui.label{
    font-weight: normal!important;
}

.filter-accordion-button {
    width: 100%;
    background-color: grey!important;
}

.filter-title {
    padding: 0!important;
}

.accordion-content {
    margin: 0!important;
}

.filter-slider {
    width: 80%;
}