#footer{
    background-color: #393d40;
    display: flex;
    align-items: center;
    height: 35px;
    vertical-align: middle;
    margin: 0;
}

#footer * {
    color: #ffce2b;
}

#footer a .icon{
    color: #ffce2b!important;
    padding-left: 50%;
    padding-right: 50%;
}

#footer .column{
    padding: 0;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    vertical-align: center;
}

#origin{
    text-align: right;
    vertical-align: middle;
}