.header {
    background-color: #b7d2ff;
    /* height: 10vh; */
    text-align: center;
    vertical-align: middle;
}

#logo{
    height: 10vh;
}

#searchBar{
    width: 100%;
    height: 4vh;
}

.grid, .row, .column{
    margin: 0 !important;
    padding: 0 !important;
}

/* .row{
    height: 5vh;
} */

/*.header.grid.column{
    height: 10vh;
}*/
/*.header.grid.row{
    height: 5vh;
}*/