.header {
    background-color: #b7d2ff;
    /* max-height: 14vh; */
    text-align: center;
    vertical-align: middle;
}

logo{
    /* height: 10vh; */
    max-width: 100%;
    max-height: 100%;
}


#searchBar{
    width: 40vw;
    height: 4vh;
}



/*.grid, .row, .column{
    margin: 0 !important;
    padding: 0 !important;
}*/

/* .row{
    height: 5vh;
} */

/*.header .column{
    height: 10vh;
}
.header .row{
    height: 5vh;
}*/