#headerGrid {
    background-color: #b7d2ff;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

#headerGrid .column{
    padding: 0;
}

#logo{
    display: block;
    height: 100%;
    margin: auto;
    width: 70%;
}

#mailPhoneRow{
    height: 40%;
    display: flex;
    justify-content: space-between;
}

#searchRow{
    height: 50%;
    width: 100%;
}
#searchRow div.ui.icon.input{
    width: 100%;
}

#searchBar{
    width: 100%;
    height: auto;
}

#threeHeaderButtons{
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

/* Something like this should be used to fix a TODO in Header.tsx*/
/*#headerGrid NavLink {
    margin-top: auto;
    margin-bottom: auto;
}*/


#headerGrid .headerButton{
    margin-top: auto;
    margin-bottom: auto;
}

#loginHeaderButton{
    margin-right: 5px;
}

#infoSearchColumn{
    vertical-align: middle;
}

#mailPhoneRow, #searchRow{
    vertical-align: middle;
} 

#logoHeaderColumn{
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logoHeaderColumn * {
    max-height: 100%;
    max-width: 100%;
}

#logoHeaderColumn svg {
    fill: black; /* TODO: change color */
    cursor: pointer;
}

#logoHeaderColumn svg:hover {
    fill: gray;
}


/*reikės media, kad mažuose dydžiuose tekstai dingtų ir liktų tik icon'os*/