.product {
    width: 80%;
    margin-left: 5%;
}

.productColumn{
    justify-items: end;
}

.propertiesTable{
    margin-bottom: 5%!important;
}

.priceArea{
    color: blue; 
    margin-right:5px;
}

.product-table-photo {
    height: 5vh;
    width: auto;
}