.product {
    width: 90%;
    margin-left: 5%;
}

.productColumn{
    justify-items: end;
}

.propertiesTable{
    margin: 0!important;
    margin-bottom: 5%!important;
    padding-left: 15px!important;
    padding-bottom: 10px!important;
}

.priceArea{
    color: blue; 
    margin-right:5px;
}

.product-table-photo {
    height: 5vh;
    width: auto;
}

.expander-color {
    color: blue;
    cursor: pointer;
}