.product {
    width: 90%;
    margin-left: 5%;
}

.productColumn{
    justify-items: end;
}

.propertiesTable{
    margin: 0!important;
    margin-bottom: 5%!important;
    padding-left: 15px!important;
    padding-bottom: 10px!important;
}

.propertiesTable td {
    font-weight: unset!important;
}

.priceArea{
    color: #393d40; 
    font-weight: bold;
    margin-right:5px;
}

.product-table-photo {
    height: 5vh;
    width: auto;
}

.add-to-cart {
    background-color: #ffce2b!important; 
}

.add-to-cart .button-text {
    color: #393d40!important;
}

.expander-color {
    color: #ffce2b;
    cursor: pointer;
}

.image-gallery-thumbnail.active {
    border-color: #FFE693!important;
}

.image-gallery-left-nav:hover:before {
    color: #ffce2b!important;
}

.image-gallery-right-nav:hover:before {
    color: #ffce2b!important;
}

.product-name {
    color: #393d40;
    font-weight: bold;
}

#oldPrice{
    padding-left: 2em;
    color: #9b9999;
}

.normal-price-tag {
    background-color: #393d40!important;
    color: #FFE693!important;
}

.discount-tag {
    background-color: #ffce2b!important;
    color: #393d40!important;
}

.discount-ribbon {
    background-color: #ffce2b!important;
    color: #393d40!important;
}