.priceHeader{
    padding-top: 10%!important;
    color: #f1f1f1!important;
}

.priceHeader *{
    color: #8E8E8E!important;
}

.card-header {
    background-color: #393d40!important;
}

.card-header h3 {
    color: #f1f1f1!important;
}

.card-price-cart {
    background-color: #393d40!important;
}

.card-price-cart .add-to-cart {
    background-color: #ffce2b!important; 
}

.card-price-cart .add-to-cart .button-text {
    color: #393d40!important;
}

@media(max-width:400px){
    .ui.positive.button, .ui.positive.buttons .button{
        font-size: 12px !important;
    }

    .priceHeader{
        font-size: 12px !important;
    }
}