#changeProfile label{
    width: 30%;
    text-align: right;
    vertical-align: middle;
}

#changeProfile input, #changeProfile select, #changeProfile .readOnlyFields{
    width: 60%;
    margin-right: 2%;
}

#changeProfile Button{
    margin: 2%;
}

.profile-header {
    color: #393d40;
}

.profileEditing{
    width: 100%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #393d40;
}

.profileEditing.header {
    margin-bottom: 5px;
}

.profileEditing button {
    background-color: #ffce2b!important;
    color: #393d40!important;
}

.profileEditing .ui.negative.button {
    background-color: #f1f1f1!important;
}

.profileEditing .ui.negative.button:hover {
    background-color: #fff!important;
}

.profileEditing button:hover {
    background-color: #FFE693!important;
}

#changeProfile{
    border: 1px solid lightgray;
    border-radius: 5px;
}

#changePassword label{
    width: 30%;
    text-align: right;
}

#changePassword input{
    width: 55%;
    text-align: left;
}

#changePassword h2{
    text-align: center;
}

#profileEdit{
    display: flex;
    background-color: #ffce2b;
    color: #393d40;
}

#profileEdit:hover {
    background-color: #FFE693;
}

#changeProfile .readOnlyFields{
    text-align: left;
    /* padding-top: 9.6px; */
    /* padding-bottom: 9.6px; */
}

.profileFormField{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profileSave, #profileEdit{
    margin: 2%;
}

#orderHistoryTable{
    text-align: center;
}

#orderHistoryTable th {
    background-color: #393d40;
    color: #FFE693;
}

#orderHistoryTable td button {
    background-color: #393d40;
    color: #FFE693;
}

.change-password-header h2{
    color: #FFE693!important;
    font-weight: bold;
}

.change-password-header {
    background-color: #393d40!important;
}

#registerModal label {
    color: #393d40;
}

.password-save-button {
    background-color: #ffce2b!important;
    color: #393d40!important;
}

.password-save-button:hover {
    background-color: #FFE693!important;
}

.password-cancel-button {
    color: #FFE693!important;
    background-color: #393d40!important;
}

.password-cancel-button:hover {
    background-color: #8e8e8e!important;
}