#discountButton{
    margin-top: 5%;
    background-color: #FFCE2B !important;
    color: #393D40 !important;
    font-weight: bold;
    margin-bottom: 5%;
    margin-left: 10px !important;
}

.discountRecordTable th{
    background-color: #393D40 !important;
    color: #FFE693 !important;
}

#discountEditor{
    margin-top: 1%;
}

#saveButton{
    background-color: #FFCE2B !important;
    color: #393D40 !important;
    font-weight: bold;
}

.categoryNameInput, .selectButton{
    margin-left: 15px;
}

#discountButton:hover, #saveButton:hover{
    background-color: #FFE693 !important;
    border-color: transparent;
}

.editButton{
    background-color: #393D40 !important;
    color: #FFCE2B!important;
}

.editButton:hover{
    color: #FFE693 !important;
}

.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner{
    background-color: #FFCE2B!important;
}

.ant-checkbox-checked .ant-checkbox-inner:hover, .ant-checkbox-indeterminate .ant-checkbox-inner:hover{
    border-color:transparent;
}

#saveButton{
    margin-left: 45%;
    margin-right: auto;
}

@media(max-width: 350px){
    #saveButton{
        margin-left: 30%;
        margin-right: auto;
    }
}

.categoryDropdown{
    margin-top: 1% !important;
    margin-bottom: 1% !important;
}

.discountEditorButton{
    margin-left: 10px !important;
}