.ordersRecordTable{
    margin-top: 3%;
}

.ordersRecordTable th{
    background-color: #393D40 !important;
    color: #FFE693 !important;
}

.ant-table-row-expand-icon, .ant-table-row-expanded{
    background-color: #393D40 !important;
    color: #FFE693 !important;
}