.summaryTable{
    margin-top: 3%;
}

.summaryTable th{
    background-color: #393D40 !important;
    color: #FFE693 !important;
}

#userInfoButton{
    background-color: #393D40;
    color: #FFE693;
    font-weight: bold;
}

#singleUserGrid{
    margin-top: 0.2%;
    margin-left: 0.1%;
}